*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1931e7ee;
}

.container {
  width: 70%;
  height: 50%;
  background-color: #fff;
  margin: 100px auto;
}
